{% extends "radulski_albums/base.html" %}
{% load thumbnail %}

{% block radulski_albums_content %}

<div class="album-detail">
	<h2>{{ object.title }}</h2>
	{% for photo in object.photo_set.all %}
	<div class="photo-thumbnail">
		<a href="{{ photo.image|thumbnail_url:'large_photo' }}" data-lightbox="{{ object.slug }}"><img src="{{ photo.image|thumbnail_url:'photo_thumbnail' }}" alt="{{ photo }}" />{{ photo.title }}</a>
	</div>
	{% endfor %}
</div>

{% endblock %}
