{% extends "radulski_albums/base.html" %}
{% load thumbnail %}

{% block radulski_albums_content %}
{% regroup object_list by date.year as album_list %}
<div class="album-list">
	{% for year in album_list %}
	<h2 class="album-year" id="album-year-{{ year.grouper }}">{{ year.grouper }}</h2>
	{% for album in year.list %}
	<div class="album-item">
		<a href="{{ album.get_absolute_url }}">
			{% if album.any_cover_image %}
			<img src="{{ album.any_cover_image|thumbnail_url:'album_thumbnail' }}" alt="{{ album.title }}" />
			{% else %}
			<span class="album-cover-placeholder"></span>
			{% endif %}
			<span class="album-title">{{ album.title }}</span>
		</a>
	</div>
	{% endfor %}
	<div class="album-year-footer"></div>
	{% endfor %}
</div>

{% endblock %}
