
.albums-album .field-render_thumbnail img{
	max-height: 100px;
}


.photos-sorting > ol {
    list-style: none;
    margin: 0;
    padding: 0;
}
.photos-sorting > ol > li {
    list-style: none;
    float: left;
    margin: 10px;
    padding: 0;
    width: 100px;
    height: 120px;
    position: relative;
    cursor: move;
}
.photos-sorting > ol > li > img {
    max-width: 100px;
    max-height: 100px;
}
.photos-sorting .deletelink {

}
.photos-sorting-footer {
    clear: both;
}
.photos-sorting .photos-sorting-placeholder {
    background: #a0a0a0;
}