<html>
<head>
	<link rel="stylesheet" href="{{ STATIC_URL }}lightbox/css/lightbox.css" />
	<link rel="stylesheet" href="{{ STATIC_URL }}style.css" type='text/css'>
	
	<title>{% block title %}Photo Albums{% endblock %}</title>
</head>
<body>
{% block content %}{% endblock %}

<script src="{{ STATIC_URL }}lightbox/js/jquery-1.10.2.min.js"></script>
<script src="{{ STATIC_URL }}lightbox/js/lightbox-2.6.min.js"></script>
</body>
</html>