@CHARSET "UTF-8";

body {
	font-family: sans-serif;
	max-width: 900px;
	min-width: 420px;
	margin: auto;
	padding: 20px;
}

.album-list > .album-item {
	border: 1px solid #999;
	float: left;
	height: 200px;
	width: 200px;
	margin-right: 10px;
	text-align: center;
	position: relative;
}
.album-list > .album-item img {
	display: block;
	max-width: 100%;
	max-height: 100%;
	margin: auto;
	width: auto;
	height: auto;
}
.album-list > .album-item .album-cover-placeholder {
	display: block;
	width: 100%;
	height: 100%;
	background: #111;

}
.album-list > .album-item .album-title {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 5px;
	background: rgba(255, 255, 255, 0.7);
	color: #000;
}
.album-list > .album-year {
	text-align: center;
}
.album-list > .album-year-footer {
	clear: both;
}
.album-detail > .photo-thumbnail {
	float: left;
	height: 250px;
	margin-right: 10px;
	text-align: center;
}
.album-detail > .photo-thumbnail img {
	display: block;
	max-width: 200px;
	max-height: 200px;
	width: auto;
	height: auto;
}

