{% extends "admin/change_form.html" %}
{% load thumbnail i18n %}


{% block object-tools-items %}
{% if not is_popup %}
<li>
  <a href="{% url 'admin:radulski_albums_album_upload' original.id %}" title="{% trans "Upload new pictures to this album" %}">{% trans "Upload Photos" %}</a>
</li>
{% endif %}
{{ block.super }}
{% endblock %}


{% block extrahead %}{{ block.super }}
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/ui/1.10.4/jquery-ui.min.js"></script>
{% endblock %}


{% block field_sets %}
{% if not change %}
<p>Please save this album before adding photos.</p>
{% endif %}
{{ block.super }}
{% endblock %}

{% block after_related_objects %}
{% if change %}
<div class="module" id="photos-group">
	<h2>Photos</h2>
	<div class="photos-sorting">
		<p class="photos-sorting-header">Drag and drop photos to sort them. Removed photos are permamently deleted when you save changed.</p>
		<input type="hidden" name="photos" value="1" />
		<ol>
			{% for photo in original.photo_set.all %}
			<li>
				<input type="hidden" name="photos_{{ photo.id }}" value="{{ photo.position }}" />
				<img src="{{ photo.image|thumbnail_url:'photo_thumbnail' }}" alt="{{ photo.id }}" />
				<a href="javascript:" class="deletelink">remove</a>
			</li>
			{% endfor %}
		</ol>
		<div class="photos-sorting-footer"></div>
	</div>
</div>
<script type="text/javascript">
(function($) {
// sorting
$('.photos-sorting > ol').sortable({
	placeholder: "photos-sorting-placeholder",
	tolerance: "pointer",
	stop: function(){
		var $list = $(this);
		$list.find('input').each(function(index, input){
			$(input).val(index+1);
		});
	}
	});
// deleting
$('.photos-sorting .deletelink').on('click', function(){
	$(this).closest('li').hide(function(){ $(this).remove(); });
});
})(jQuery);
</script>
{% endif %}
{% endblock %}
